<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">


<head>
	<meta charset="UTF-8"/>
	<title>This is my home page</title>
</head>

<body>
	<section>
		<div class="card mr-3 ml-3">
			
			<div class="card-body">
				
				<h1 class="text-center">Your Contacts</h1>
				
		<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">#ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
					  <tbody>
					    <tr th:each="c :${contacts}">
							
					      
					      <th scope="row" th:text="'SCMUSER'+${c.cId}">1</th>
					      
					      <td>
							  <img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="profile photo"/>
							  
							  	<a th:href="@{'/user/'+${c.cId}+'/contact'}">
									  <span th:text="${c.name}"></span>
								  </a>
							  
							   
							   </td>
					      
					      <td th:text="${c.email}">Otto</td>
					      
					      <td th:text="${c.phone}">@mdo</td>
					      
					      <td>
							  <a th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger btn-sm">Delete</a>
							  
							  <form method="post"  th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2">
							  <button type="submit"  class="btn btn-primary btn-sm">Update</button>
						  </form>
						  </td>
						  
					    </tr>
					   
					  </tbody>
        </table>
        
       
				
				
				
			</div>
			
		</div>
		
	</section>
</body>

</html>